<app-nav-index></app-nav-index>
<form [formGroup]="ventaForm" (ngSubmit)="registrarVenta()">
  <h2>Detalles de Venta</h2>
  <table>
    <thead>
      <tr>
        <th>Id Zapatilla</th>
        <th>Zapatilla</th>
        <th>Marca</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Imagen</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody formArrayName="detalles">
      <tr *ngFor="let detalle of detalles.controls; let i = index" [formGroupName]="i">
        <td>
          <input type="text" formControlName="idZapatilla" readonly>
        </td>
        <td>
          <input type="text" formControlName="nombreZapatilla" readonly>
        </td>
        <td>
          <input type="text" formControlName="marcaZapatilla" readonly>
        </td>
        <td>
          <input type="text" formControlName="precioZapatilla" readonly>
        </td>
        <td>
          <input type="number" formControlName="cantidad">
        </td>
        <td>
          <p>
            <img [src]="detalle.get('img')?.value" alt="Zapatilla img" width="50">
          </p>
        </td>
        <td>
          {{detalles.at(i).get('precioZapatilla')?.value * detalles.at(i).get('cantidad')?.value | number: '1.2-2'}}
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <h3>Total: {{ total | number: '1.2-2' }}</h3>
  </div>
  <div formGroupName="ventaDto">
    <h2>Datos de Clientes</h2>
    <div>
      <label for="nombreCliente">Nombre</label>
      <input id="nombreCliente" type="text" formControlName="nombreCliente">
    </div>
    <div>
      <label for="apellidoCliente">Apellido</label>
      <input id="apellidoCliente" type="text" formControlName="apellidoCliente">
    </div>
    <div>
      <label for="gmailCliente">Gmail</label>
      <input id="gmailCliente" type="email" formControlName="gmailCliente">
    </div>
    <div>
      <label for="telefonoCliente">Telefono</label>
      <input id="telefonoCliente" type="number" formControlName="telefonoCliente">
    </div>
    <div>
      <label for="direccionCliente">Direccion Cliente</label>
      <input id="direccionCliente" type="text" formControlName="direccionCliente">
    </div>
    <div>
      <label for="idDepartamento">Departamento</label>
      <select formControlName="idDepartamento" id="idDepartamento">
        <option value="">Seleccionas Departamento</option>
        <option *ngFor="let dp of depa" [value]="dp.idDepartamento">{{dp.nombreDepartamento}}</option>
      </select>
    </div>

  </div>
  <button type="submit" [disabled]="!ventaForm.valid">registrar Venta</button>
</form>