.table{
    width: 100%;
    margin: auto;
    text-align: center;
}
.table thead th{
    text-align: center;
    vertical-align: middle;
}
.table tbody td{
    text-align: center;
    vertical-align: middle;

}
.table img{
    display: block;
    margin: 0 auto;
}