<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/admin">Administrador-Index</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
      </div>
    </div>
  </nav>




  <!-- 
<div class="container">
  <h2>Registrar Zapatilla</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nombreZapatilla">Nombre</label>
      <input type="text" id="nombreZapatilla" [(ngModel)]="zapatilla.nombreZapatilla" name="nombreZapatilla" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="descripcionZapatilla">Descripción</label>
      <input type="text" id="descripcionZapatilla" [(ngModel)]="zapatilla.descripcionZapatilla" name="descripcionZapatilla" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="precioZapatilla">Precio</label>
      <input type="text" id="precioZapatilla" [(ngModel)]="zapatilla.precioZapatilla" name="precioZapatilla" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="stockZapatilla">Stock</label>
      <input type="text" id="stockZapatilla" [(ngModel)]="zapatilla.stockZapatilla" name="stockZapatilla" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="file">Imagen</label>
      <input type="file" id="file" (change)="onFileChange($event)" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="idAdminZapatillas">ID Administrador</label>
      <input type="number" id="idAdminZapatillas" [(ngModel)]="zapatilla.idAdminZapatillas" name="idAdminZapatillas" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="idModeloZapatilla">ID Modelo</label>
      <input type="number" id="idModeloZapatilla" [(ngModel)]="zapatilla.idModeloZapatilla" name="idModeloZapatilla" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="idCategoriaZapatilla">ID Categoría</label>
      <input type="number" id="idCategoriaZapatilla" [(ngModel)]="zapatilla.idCategoriaZapatilla" name="idCategoriaZapatilla" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="idMarcaZapatilla">ID Marca</label>
      <input type="number" id="idMarcaZapatilla" [(ngModel)]="zapatilla.idMarcaZapatilla" name="idMarcaZapatilla" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="idPersonaZapatilla">ID Persona</label>
      <input type="number" id="idPersonaZapatilla" [(ngModel)]="zapatilla.idPersonaZapatilla" name="idPersonaZapatilla" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Registrar Zapatilla</button>
  </form>
</div>-->

<button type="button" class="btn btn-primary" >Registrar Zapatilla</button>
<br><br>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Precio</th>
      <th scope="col">Stock</th>
      <th scope="col">Administrador</th>
      <th scope="col">Categoria</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Tipo Persona</th>
      <th scope="col">Imagen</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active" *ngFor="let z of MyDataZapatilla">
      <td>{{z.idZapatilla}}</td>
      <td>{{z.nombreZapatilla}}</td>
      <td>{{z.descripcionZapatilla}}</td>
      <td>{{z.precioZapatilla}}</td>
      <td>{{z.stockZapatilla}}</td>
      <td>{{z.idAdminZapatillas}}</td>
      <td>{{(z.categoria?.nombreCategoria)}}</td>
      <td>{{z.marca?.marcaZapatilla}}</td>
      <td>{{z.modelo?.nombreModeloZapatilla}}</td>
      <td>{{z.idPersonaZapatilla}}</td>
      <td><img [src]="z.urlImg" alt="{{z.nombreZapatilla}}" width="50"></td>
      <td>
        <button type="button" class="btn btn-success">Editar</button>
        <span style="position: relative;" >&nbsp;</span>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
