body {
  background-color: #343a40; /* Color de fondo oscuro */
  color: white; /* Color de texto blanco */
}

/*grupo today*/
.company-name {
  font-size: 28px;
}

.company-name-part1 {
  color: rgb(97, 125, 185);
}

.company-name-part2 {
  color: rgb(185, 97, 141);
}

.portada-img {
  width: 100%;
  max-width: 1519px;
  height: auto;
  max-height: 400px;
}

h2 {
  color: rgb(97, 125, 185);
}

.card {
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 1.25rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}
.active-link {
  border-bottom: 4px solid rgb(97, 125, 185);
  padding-bottom: 2px; 
  text-decoration: none;
}
