.portada-img{
  width: 1425px;
  height: 450px;
  border: 150px  #070101e5;
}

/* index.component.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1000px; /* Ajusta según sea necesario */
}

.carousel-slide {
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: center;
}

.carousel-item {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  margin: 0 10px;
}

.carousel-control {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  z-index: 10;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

